@import "./global/fonts.less";
@import "./global/mixins.less";
@import "./global/variables.less";
@import "./global/base.less";
@import "./block/advantages.less";
@import "./block/appointment.less";
@import "./block/button-media-container.less";
@import "./block/button.less";
@import "./block/contact-list.less";
@import "./block/developer-link.less";
@import "./block/hashtag.less";
@import "./block/hero-block-media.less";
@import "./block/hero-block.less";
@import "./block/htmlacademy-logo.less";
@import "./block/impressions-list.less";
@import "./block/logo.less";
@import "./block/main-nav__toggle.less";
@import "./block/main-nav-list.less";
@import "./block/map.less";
@import "./block/media-list.less";
@import "./block/media.less";
@import "./block/modal-container.less";
@import "./block/modal-send.less";
@import "./block/personal-info-list.less";
@import "./block/servises.less";
@import "./block/social-list.less";
@import "./block/visit-list.less";
@import "./block/visually-hidden.less";

.doubts-title {
  .text-title;
  text-align: center;
  padding-top: 17px;
}

.doubts-description {
  .text-description();
  text-align: center;
  padding: 29px 26px 38px 26px;
}

.video {
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form {
  padding: 0 20px;
}

.feedback-title {
  .text-title;
  text-align: center;
  padding-top: 36px;
}

.feedback-discription {
  .text-description();
  text-align: center;
  padding-top: 24px;
  padding-bottom: 28px;
}

.feedback-group {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}

.feedback-group__title {
  .text-title;
  text-align: center;
  padding: 0 0 20px 0;
}

.emotions-area {
  width: 100%;
  background-color: #f2f2f2;
  .text-title;
  text-transform: inherit;
  padding: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

.send-feedback {
  .text-title;
  margin-top: 56px;
  padding: 16px 49px;
  border: none;
}

.required-text {
  .text-description;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #33333399;
}
