body {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  height: 56px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}
