.advantages-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list__item {
  padding: 0;
  margin: 0;
  line-height: 0;
  width: 100%;
}

.advantages-list__container.advantages-list__container--color-container {
  padding: 37px 18px 37px 18px;
}

.advantages-list__item:first-child .advantages-list__container {
  background-image: url("../img/triangle.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding: 54px 18px 40px 18px;
}

.advantages-list__item:first-child .advantages-list__title {
  padding: 0;
}

.advantages-list__item:first-child .advantages-list__description {
  margin: 17px 0 0 0;
}

.advantages-list__container--color-container {
  .set-color(#81b3d2);
}

.advantages-list:nth-child(2) .advantages-list__title {
  .text-title;
}

.advantages-list__container--color-container .advantages-list__title {
  .text-title;
  text-align: center;
}

.advantages-list__container--color-container .advantages-list__description-counter {
  .text-description;
  text-align: center;
  margin-top: 11px;
}

.advantages-list__container--color-container .advantages-list__description {
  .text-description;
  text-align: center;
  margin-top: 17px;
}

.advantages-list__item--accent {
  background-color: @advantages-list--accent;
  padding: 0 24px 0 24px;
}

.advantages-list__item--accent .advantages-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
  padding: 0 12px 0 12px;
}

.advantages-list__item--accent:last-child .advantages-list__container {
  border-bottom: none;
}

.advantages-list__item--accent .advantages-list__title {
  .text-title;
  text-align: center;
  margin-top: 24px;
}

.advantages-list__item--accent .advantages-list__description-counter {
  .text-description;
  text-align: center;
  margin-top: 11px;
}

.advantages-list__item--accent .advantages-list__description {
  .text-description;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 16px;
}
