
.advantages__info-title {
  .text-title;
  text-align: center;
  padding: 33px 26px 0 23px;
}

.advantages__info-description {
  .text-description;
  text-align: center;
  padding: 37px 18px 16px 18px;
}

