
.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-list__item {
  padding: 0;
  margin: 0;
  line-height: 0;
}

.advantages-list__item:first-child .advantages-list__container {
  background-image: url("../img/triangle.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.advantages-list__container--color-container {
  .set-color(#81b3d2);
}

.advantages-list:first-child .advantages-list__title {
  padding-top: 70px;
}

.advantages-list:nth-child(2) .advantages-list__title {
  padding-top: 37px;
}

.advantages-list__container--color-container .advantages-list__title {
  .text-title;
  text-align: center;
  padding-top: 54px;
}

.advantages-list__container--color-container .advantages-list__description-n {
  .text-description;
  text-align: center;
  padding-top: 11px;
}

.advantages-list__container--color-container .advantages-list__description {
  .text-description;
  text-align: center;
  padding: 17px 12px 38px 12px;
}

.advantages-list--accent {
  background-color: @gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.advantages-list__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// border-bottom: 2px solid #b3b2b2;

.advantages-list--accent .advantages-list__container {
  margin: 0 18px 0 18px;
  padding: 26px 0 26px 0;
  border-bottom: 1px solid #b3b2b2;
}

.advantages-list--accent:last-child .advantages-list__container {
  border: none;
}

.advantages-list--accent .advantages-list__title {
  .text-title;
  text-align: center;
  padding: 0 17px 0 17px;
}

.advantages-list--accent .advantages-list__description-n {
  .text-description;
  text-align: center;
  padding-top: 11px;
}

.advantages-list--accent .advantages-list__description {
  .text-description;
  text-align: center;
  padding: 17px 14px 0 14px;
}
