.contact-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 28px 0 8px 0;
  padding: 0 0 39px 0;
  gap: 16px;
}

.contact-list__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contact-list__label {
  .text-description;
  padding-left: 16px;
}

.contact-list__input {
  .text-title;
  text-transform: none;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: @background-input;
  outline: none;
  border: none;
}

.contact-list__container {
  display: flex;
  flex-direction: row;
}

.phone-icon {
  padding: 20px;
  background-color: #e6e6e6;
}

.email-icon {
  display: block;
  padding: 23px 21px;
  background-color: #e6e6e6;
}
// .contact-list__item .contact-list__icon {
//   position: absolute;
//   width: 58px;
//   height: 58px;
//   background-color: #8b1717;
//   background-repeat: no-repeat;
// }

// .phone-icon {
//   background-image: url(../img/phone.svg);
// }

// .email-icon {
//   background-image: url(../img/mail.svg);
// }
