.contact-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 28px 0 0 0;
  padding: 0;
  gap: 16px;

  @media (min-width: @tablet-width) {
    margin: 22px 0 0 0;
    gap: 12px;
  }

  @media (min-width: @desktop-width) {
    margin: 21px 0 8px 0;
  }
}

.contact-list__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contact-list__label {
  .text-description;
  padding-left: 16px;
}

.contact-list__input {
  .text-title;
  text-transform: none;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: @background-input;
  outline: none;
  border: none;

  @media (min-width: @desktop-width) {
    padding: 15px;
    font-size: 16px;
  }
}

.contact-list__container {
  display: flex;
  flex-direction: row;
}

.phone-icon {
  padding: 20px;
  background-color: #e6e6e6;
  line-height: 0;

  @media (min-width: @desktop-width) {
    padding: 19px;
  }
}

.email-icon {
  display: block;
  padding: 23px 21px;
  background-color: #e6e6e6;
  line-height: 0;
}
