.doubts__title {
  .text-title;
  text-align: center;
  padding-top: 17px;
}

.doubts__description {
  .text-description();
  text-align: center;
  padding: 29px 26px 38px 26px;
}

.doubts__video {
  padding-left: 20px;
  padding-right: 20px;
}
