.emotions-area {
  width: 100%;
  background-color: @textarea-form;
  .text-title;
  text-transform: inherit;
  padding: 16px;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  font-family: "PT Sans", sans-serif;
  border: none;
  outline: none;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus,
  &:active {
    background-color: #ffffff;
    box-shadow: 0 0 0 4px #e5e5e5 inset;
  }

  &:disabled {
    background-color: #f7f7f7;
  }

  &::placeholder {
    color: #0000004d;
  }
}
