.feedback {
  padding: 0;
  margin: 0;
}

.feedback__title {
  .text-title;
  text-align: center;
  padding-top: 36px;
}

.feedback__description {
  .text-description();
  text-align: center;
  padding-top: 24px;
  padding-bottom: 28px;
}

.feedback__form {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px 0 60px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    padding: 0 120px 0 120px;
  }
}
