.media-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.media-list__item {
  display: flex;
  flex-direction: column;
  padding: 24px 15px 25px 15px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.media-text-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
}

.media-list__title {
  .text-title;
  padding-top: 15px;
  margin: 0;
}

.media-list__author {
  .text-description;
  padding-top: 0;
}
