.menu-list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 56px;
    grid-auto-flow: row dense;

    &::before,
    &::after {
      content: "";
      grid-column: 3/4;
    }

    &::after {
      grid-row: 2/3;
    }
  }
}

.menu-list a {
  position: relative;
  display: block;
  width: 100%;
  padding: 17px 109px 12px 109px;
  text-align: center;
  padding-bottom: 13px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border-top: 1px solid #8ebad6;
  border-bottom: 1px solid #48687c;

  @media (min-width: @tablet-width) {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    border: none;
    padding: 0;
  }
}

.menu-list__item {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list__item:last-child a {
  @media (max-width: @mobile-width-only) {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #81b3d2 80%, #6288a0  96%);
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    border: none;
    padding: 0;
  }
}

.menu-list__item img {
  width: 100%;
}

.menu-list__link {
  text-decoration: none;
  .text-description;
  font-weight: 700;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    color: @menu-list__link-mobile;
  }
}

