.modal-send {
  display: flex;
  flex-direction: column;
  padding: 39px 20px 20px 20px;
  border: 1px solid #000000;
}

.modal-send__title {
  text-align: center;
  .text-title();
}

.modal-send__description {
  text-align: center;
  .text-description;
  padding: 25px 30px 0 30px;
}

