.personal-info-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0 0 8px 0;
  gap: 13px;

  @media (min-width: @tablet-width) {
    margin: 22px 0 8px 0;
    gap: 12px;
  }

  @media (min-width: @desktop-width) {
    margin: 21px 0 8px 0;
    gap: 16px;
  }
}

.personal-info-list__item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.personal-info-list__label {
  .text-description();
  padding-left: 16px;
}

.personal-info-list__input {
  .text-title;
  text-transform: capitalize;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: @background-input;
  outline: none;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 4px #e5e5e5 inset;
  }

  &:active {
    background-color: #ffffff;
    box-shadow: 0 0 0 4px #e5e5e5 inset;
  }

  &:disabled {
    background-color: #f7f7f7;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
  }
}
