.services-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 23px 18px 46px 18px;
  margin: 0;
  gap: 25px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 0;
  }
}

.services-list__item--home {
  display: flex;
  justify-content: center;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
}


.services-list__item--food {
  display: flex;
  justify-content: center;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
}

.services-list__item--souvenirs {
  display: flex;
  justify-content: center;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
}

.services-list__title {
  .text-title;
  padding: 8px 0  0 47px;
  margin: 0;
}

.services-list__description {
  .text-description;
  text-align: left;
  padding: 16px 0  0 47px;
  margin: 0;
}
