.visit-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 0 39px 0;
  margin: 0;
  gap: 16px;
}

.visit-list__item {
  display: flex;
  align-items: center;
}

.visit-list__label {
  .text-title;
  font-weight: 700;
  text-transform: none;
  padding-left: 16px;
}

