.visit-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 0 39px 0;
  margin: 28px 0 42px 0;
  gap: 16px;

  @media (min-width: @tablet-width) {
    margin: 5px 0 42px 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row dense;
    padding: 0 84px 0 84px;
  }

  @media (min-width: @desktop-width) {
    gap: 68px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.visit-list__item {
  display: flex;
  align-items: center;
}

.visit-list__label {
  .text-title;
  font-weight: 700;
  text-transform: none;
  padding-left: 16px;
}

.visit-list__checkbox {
  display: block;
  position: relative;
  padding-left: 58px;
  cursor: pointer;
  font-size: 18px;
  line-height: 46px;
  font-weight: 700;
}

.visit-list__checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.visit-list__box {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    box-shadow: 0 0 0 4px #e5e5e5 inset;
  }

  &:active {
    background-color: #e5e5e5;
  }

  &:disabled {
    background-color: #f7f7f7;
  }
}

.visit-list__box::after {
  content: "";
  position: absolute;
  display: none;
}

.visit-list__checkbox input:checked ~ .visit-list__box::after {
  display: block;
}

.visit-list__checkbox .visit-list__box::after {
  left: 13px;
  top: 13px;
  width: 22px;
  height: 16px;
  background-image: url("../img/tick.svg");
}
